@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scrollbar for WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #2a2a2a; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4a4a4a; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
  }